.header{
    position: relative;
    width: 1920px;
    height: 147px;
}

Logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3.64px;

    position: absolute;
    width: 76px;
    height: 59.64px;
    left: 49px;
    top: 43px;
}

Logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 196px;
    height: 81px;
    left: 137px;
    top: 30px;
}

Header-login{
    position: absolute;
    width: 48px;
    height: 26px;
    right: 560px;
    top: 60px;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 19.16px;
    line-height: 26px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}

Header-sign_up{
    position: absolute;
    width: 67px;
    height: 26px;
    right: 411px;
    top: 60px;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 19.16px;
    line-height: 26px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}

Header-btn{
    position: absolute;
    width: 263px;
    height: 59.08px;
    right: 66px;
    top: 43px;
}