/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@layer components {
    .list {
        display: flex;
        align-items: center;
        height: 35px;
        gap: 2rem;
        padding: 0.5rem;
      }
      
      .list:hover {
        background-color: #092431;
        border-radius: 30px;
        height: 35px;
      }
      
      .play-button,
      .heart-button {
        display: none;
      }
      
      .list:hover .number {
        display: none;
      }
      
      .list:hover .play-button,
      .list:hover .heart-button {
        display: block;
        color: #9A7F69;
      }
      
}
